@charset "utf-8";

body{
    background-color: rgb(206, 66, 66);
    font-family: 'Cairo', sans-serif;
}

#corpo{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#corpo span{
    color: rgb(175,150,189);
}
#titulo_do_site{
    width: 25%;
    height: 657px;
    background-color: rgb(95,56,147);
}
#titulo_do_site h3{
    color: rgb(255, 173,1);
    margin-top: 75%;
    margin-left: 8%;
}
#titulo_do_site h2{
    color: white;
    margin-left: 8%;
    margin-bottom: 285px;
}
#titulo_do_site #span{
    color: white;
    font-size: small;
    margin-left: 10px;
    margin-top: 100px;
}

#forms{
    width:75%;
    height: 657px;
    background-color: white;
}

#formulario_do_site{
    width: 40%;
    height: 42%;
    margin-left: 15%;
}
#formulario_do_site a{
    margin-top:5%;
    float: right;
    text-decoration: none;
    font-size: small;
}

#social_media_title{
    width: 40%;
    margin-left: 15%;
    text-align: center;
}
#social_media_title span{
    color: black;
}

#social_media{
    margin-left: 15%;
    height: 8%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social_media i{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: black;
}
#social_media .fa{
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}